#create-post-view {
    align-items: center;
    text-align: center;
    height: fit-content;
    padding-bottom: 30px;
}

#overall-h-layout {
    align-items: center;
    justify-content: center;
}

#LHS-v-layout {
    align-items: center;
    height: 100%;
}

#image-v-layout {
    display: block;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.text-field {
    width: 80%;
}

#post-description {
    height: fit-content;
}

#post-title {
    font-weight: 700;
    font-family: Palatino, serif;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#post-image {
    max-width: 100%;
    overflow-x: scroll;
}

#image-container {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--lumo-contrast-20pct);
}

#uploader {
    width: 100%;
}

#nutritional-facts-view {
}

#smoothie-name-text {
    justify-content: left;
    align-self: baseline;
}

#nutr-view-details {
    align-self: baseline;
    padding-left: 10%;
    justify-content: left;
    align-items: baseline;
    text-align: left;
    width: 80%;
}

#back-btn {
    position: absolute;
    top: 100px;
    left: -20px;
    width: 150px;
    height: 25px;
}

#left-arrow-icon {
    width: 25%;
    height: 25%;
}

#submit-post-btn {
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 50px;
}

@media (max-width: 1200px) {
    #overall-h-layout {
        align-items: center;
        height: 20%;
        flex-wrap: wrap;
    }

    #post-title {
        font-weight: 100;
    }
}